# Unreal Engine build artifacts
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDE / Editor files
.vscode/
.vs/
.idea/
*.sln
*.VC.db
*.VC.opendb

# Logs & temp
*.log
*.tmp

# macOS junk
.DS_Store

# Windows junk
Thumbs.db
